.land{
    fill: grey;
}

.story{
  margin-left: 300px;
  margin-right: 300px;
}

body{
    background-color: lightgray;
}

h1, h4{
    text-align: center;
}

.quote{
  font-style:italic;
}


.end{
    font-style: italic;
}

/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

#form-control{
  text-align: center;
}


#outer, #stats{
  text-align: center;
}

.select-control {
  background: #E2DDD1;
  border: 1px solid #D49999;
  width: 175px;
  font-size: 12px;
}

.select-control2{
  background: #E2DDD1;
  border: 1px solid #D49999;
  width: 400px;
  font-size: 12px;
}

.select-control3 {
  background: #E2DDD1;
  border: 1px solid #D49999;
  width: 200px;
  font-size: 12px;
}

.select-control:focus {
    border: 1px solid #D49999;
}

.form label {
  /* font-weight: 400; */
  padding-top:5px;
  color:#8E7060;
  margin-right: 15px;
}

  /* Legend Position Style */
.legend {
	position:absolute;
	left:20px;
	top:300px;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  padding: 1px;
  background: rgba(43,43,43, 0.8);
  color: #fff;
  border-radius: 1px;
}

.d3-stip {
  line-height: 1;
  padding: 12px;
  background: rgba(43,43,43, 0.8);
  color: #fff;
  border-radius: 2px;
}

.selected {
  fill: red;
}

#leg1{
  color: #c2a030;
}

#leg2{
  color: #b55ebf;
}

